<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    
    <section name="MailServer" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <connectionStrings>

    <add name="ApplicationContext" connectionString="Data Source=192.168.0.40\SQLEXPRESS2012;Initial Catalog=Soronus_Dev;Persist Security Info=True;User ID=sa;Password=@clicksd3;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <appSettings>
    <add key="DatabaseConnectionString" value="ApplicationContext" />
    <add key="SiteName" value="Soronus" />
    <add key="SiteNameSubTitle" value="" />
    <add key="NoImage" value="/assets/img/noimage.png" />
    <add key="GenericDateTimeFormat" value="dd/MM/yyyy hh:mm:ss tt" />
    <add key="GenericDateFormat" value="dd/MM/yyyy" />
    <add key="GenericTimeFormat" value="hh:mm tt" />
    <add key="GenericDateTime24Format" value="dd/MM/yyyy HH:mm:ss" />
    <add key="GenericTime24Format" value="HH:mm:ss" />
    <add key="GenericTime12Format" value="hh:mm tt" />
    <add key="DateTimeOffset" value="+5:30" />
    <add key="CompanyPhone" value="8075 147 852" />
    <add key="CompanyEmail" value="praveena@atclicks.com" />
    <add key="RootUrl" value="http://localhost:51610" />
    <add key="DefaultMaxBulkUploadFileSize" value="15" />
    <add key="NoPhoto" value="/Content/assets/img/nophoto.png" />
  </appSettings>
  <MailServer>
    <add key="DisplayName" value="Roof Top Cafe" />

    <add key="FromMail" value="notifications@mforce.mobi" />
    <add key="Host" value="smtp.mforce.mobi" />
    <add key="Username" value="notifications@mforce.mobi" />
    <add key="Password" value="W0rkF10w365!" />
    <add key="Port" value="587" />

    <add key="EnableSsl" value="false" />
    <add key="UseDefaultCredentials" value="true" />
    <add key="Priority" value="High" />
    <add key="IsBodyHtml" value="true" />
  </MailServer>
</configuration>